$font-weight: (
        "normal": 500,
        "middle": 600,
        "bold": 1000
);
$black: #262624;
$brown: #ad9961;
$gray: #4a4a4a;
$white: #fff;
$darkBrown: #494947;
$lightBrown: #bebeb6;
$lightBlue: #edf1f4;
$width: 70%;

@mixin hr($color) {
  border-top: 1px solid $color;
  width: 150px;
  margin: 50px auto;
}

.bold {
  font-weight: map-get($font-weight, bold);
}


main {
  width: 100%;

  #about-content {
    width: $width;
    margin: 100px auto;

    #about_me {
      text-align: center;

      .section-name {
        text-transform: capitalize;
      }

      .hr {
        @include hr($black);
      }
    }

    #content {
      display: grid;
      grid-template-columns: repeat(2, 70%);
      grid-template-rows: repeat(4, 8em);

      #left-about {
        p {
          display: flex;
          width: 70%;
          font-size: 15px;
          line-height: 30px;
        }

        #my-data {
          display: flex;
          width: 100%;

          ul {
            line-height: 40px;
          }

          #left-section {
            width: 20%;
            height: 10px;

            ul {
              li {
                font-weight: map-get($font-weight, bold);
              }
            }
          }

          #right-section {
            height: 10px;

            ul {
              li::Before {
                content: ":";
                margin-right: 40px;
              }
            }
          }
        }
      }

      #right-about {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-template-rows: repeat(1, 150px);
        width: 50%;

        .technology {
          margin: 0 10px 10px 10px;

          .photo {
            display: flex;
            justify-content: center;
            padding: 20px 0;
            border: 1px solid $black;
          }

          .photo img {
            width: 60px;
            height: 60px;
          }

          .name-technology {
            text-align: center;

            p {
              text-transform: capitalize;
            }

            #caps {
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }

  /******************** My skills ********************/

  .background {
    background-image: url(../img/writingMac.jpg);

    #my_skills {
      width: 100%;
      height: 800px;
      background-color: rgba(#000, .7);
      color: white;

      #content-skills {
        width: $width;
        margin: 100px auto;
        position: relative;
        top: 100px;

        .name {
          text-align: center;
          color: white;

          .section-name {
            text-transform: capitalize;
          }

          .hr {
            @include hr(white);
            background-color: #fff;
          }
        }
      }

      #skills {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 4fr);
        grid-template-rows: repeat(2, 150px);

        .skill {
          width: 96%;
          margin: 50px 0;

          .name {
            float: left;
            font-weight: map-get($font-weight, bold);
            text-transform: uppercase;
            font-size: 20px;
          }

          .line {
            width: 100%;
            background-color: #fff;
            display: flex;

            .procent {
              width: 48%;
              color: $darkBrown;
              position: absolute;
              padding-top: 5px;
              text-align: center;
            }

            .level {
              height: 30px;
              background-color: $brown;
            }
          }
        }
      }
    }
  }
}
/******************** End main ********************/